<h1>List of Superbowl Winners throughout history!!</h1>



  <!--<div id="flexcontain" *ngFor="let superbowl of superbowls">
      <div class="bowlcard">-->


        <mat-tab-group class="demo-tab-group">
            <mat-tab label="Tab 1" *ngFor="let superbowl of superbowls">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="cardhead"></div>
                        <mat-card-title>Super Bowl Roman Numerial:{{ superbowl.SB }}</mat-card-title>
                        <mat-card-subtitle>Super Bowl Date: {{ superbowl.Date }}</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="http://via.placeholder.com/350x200" alt="Superbowl image logo">
                      <mat-card-content>
                        <p>Super Bowl Attendance: {{ superbowl.Attendance }}</p>
                        <p>Super Bowl QB Winner: {{ superbowl.QB_Winner }}</p>
                        <p>Super Bowl Winning Coach: {{ superbowl.Coach_Winner }}</p>
                        <p>Super Bowl Winner: {{ superbowl.Winner }}</p>
                        <p>Super Bowl Winning Pts: {{ superbowl.Winning_Pts }}</p>
                        <p>Super Bowl Losing Quarterback: {{ superbowl.QB_Loser }}</p>
                      </mat-card-content>
                      <mat-card-actions>
                          <mat-button-toggle value="left">
                              Previous
                          </mat-button-toggle>
                          <mat-button-toggle value="right">
                              Next
                          </mat-button-toggle>
                      </mat-card-actions>
                </mat-card>
            </mat-tab>
          </mat-tab-group>














      <!--<mat-card>
          <mat-card-header>
              <div mat-card-avatar class="cardhead"></div>
              <mat-card-title>Super Bowl Roman Numerial:{{ superbowl.SB }}</mat-card-title>
              <mat-card-subtitle>Super Bowl Date: {{ superbowl.Date }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://via.placeholder.com/350x200" alt="Superbowl image logo">
            <mat-card-content>
              <p>Super Bowl Attendance: {{ superbowl.Attendance }}</p>
              <p>Super Bowl QB Winner: {{ superbowl.QB_Winner }}</p>
              <p>Super Bowl Winning Coach: {{ superbowl.Coach_Winner }}</p>
              <p>Super Bowl Winner: {{ superbowl.Winner }}</p>
              <p>Super Bowl Winning Pts: {{ superbowl.Winning_Pts }}</p>
              <p>Super Bowl Losing Quarterback: {{ superbowl.QB_Loser }}</p>
            </mat-card-content>
            <mat-card-actions>
                <mat-button-toggle value="left">
                    Previous
                </mat-button-toggle>
                <mat-button-toggle value="right">
                    Next
                </mat-button-toggle>
            </mat-card-actions>
      </mat-card>
    </div>
  </div>-->



